%h1 Zocalo

%ul.list-group.list-group-flush
  %li.list-group-item
    = link_to "members", admin_members_path, class: "btn btn-primary"
  %li.list-group-item
    = link_to "payments", admin_payments_path, class: "btn btn-primary"
  %li.list-group-item
    = link_to "compose emails", "#", class: "btn btn-primary"
  %li.list-group-item
    = link_to "dispatches", "#", class: "btn btn-primary"
